body{
width:100%;
margin: 0px;
}
.preloader{
  position:fixed;
  width:100%;
  height:100%;
  background:white;
  z-index:99999;
}
 
.preloader .item{
  position:absolute;
  width:100px;
  height:100px;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top:-50px;
} 
/*scrol to top*/

.scrollToTop {
	bottom: 60px;
	display: none;
	font-size: 16px;
	line-height: 50px;
	font-weight: bold;
	height: 50px;
	position: fixed;
	right: 50px;
	text-align: center;
	text-decoration: none;
	width: 50px;
	z-index: 999;
	color: #fff;
  background-color: #006400;
  border: solid 1px #fff;
	transform:rotate(43deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;

}
.scrollToTop>i{
	 transform:rotate(-45deg);
}
.scrollToTop:hover,
.scrollToTop:focus{
	background-color: #fff;
	text-decoration: none;
	outline: none;
  color: #006400;
  border: solid 1px #fff;
}
@media (min-width: 360px) and (max-width: 767px) {
	.scrollToTop {
	bottom: 60px;
	display: none;
	font-size: 12px;
	line-height: 40px;
	font-weight: bold;
	height: 40px;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 40px;
	z-index: 999;
	color: #fff;
  background-color: #006400;
  border: solid 1px #006400;
	transform:rotate(43deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;

}
.scrollToTop>i{
	 transform:rotate(-45deg);
}
.scrollToTop:hover,
.scrollToTop:focus{
	background-color: #fff;
	text-decoration: none;
	outline: none;
  color: #006400;
   border: solid 1px #fff;
}
}
@media (min-width: 100px) and (max-width:367px) {
	.scrollToTop {
	bottom: 40px;
	display: none;
	font-size: 9px;
	line-height: 30px;
	font-weight: bold;
	height: 30px;
	position: fixed;
	right: 15px;
	text-align: center;
	text-decoration: none;
	width: 30px;
	z-index: 999;
	color: #fff;
  background-color: #006400;
  border: solid 1px #006400;
	transform:rotate(43deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;

}
.scrollToTop>i{
	 transform:rotate(-45deg);
}
.scrollToTop:hover,
.scrollToTop:focus{
	background-color: #fff;
	text-decoration: none;
	outline: none;
  color: #006400;
   border: solid 1px #fff;
}
}
/*************************
*******Navigation******
**************************/
img.musd{
  width: 60px;
  position: absolute;
  margin-top: -20px;
}
#navigation,
.navbar-brand,
.navbar-toggle,
.navbar-nav > li > a,
.search-form > #search-sub {
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}

.animated-nav .navbar-brand {
  padding: 15px 0;
}

.animated-nav .navigation .navbar-nav > li > a {
  padding: 23px 25px;
}

#navigation > .container {
  border-bottom: 1px solid #fff;
}

.animated-nav#navigation > .container {
  border-bottom: none;
}

.navbar-brand {
  height: inherit;
  padding: 30px 0;
}
p#dert{
  margin-left: 70px;
  color: #fff;
  font-size: 30px;
  position: absolute;
}
.navbar-brand a {
  display: block;
}
@media (min-width: 300px) and (max-width: 767px) {
  .navigation .navbar-nav > li > a {
    background-color: #006400 !important;
  }
  
}
.navigation .navbar-nav > li > a {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 37px 20px;
  text-transform: uppercase;
}

.navigation .navbar-nav > li.current > a {
  color: #006400;
  border-bottom: 1px solid #006400;
}

.animated-nav .navigation .navbar-nav > li.current > a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.navigation .navbar-nav > li > a:focus,
.navigation .navbar-nav > li > a:hover {
  background-color: transparent;
}
.navbar-toggle ,.navbar-toggle .icon-bar{
  border: solid 1px #fff!important;
}
@media (min-width: 200px) and (max-width: 992px) {
  p#dert{
    font-size: 20px;
    margin-top: -30px;
  }
}

/*************************
*******Main Slider******
**************************/


#home{
  padding: 0;
  overflow: hidden;
}

#home-carousel .carousel-inner .item {
  background-size:cover;
}

#home-carousel .slider-content {
  height: 100%;
}

#home-carousel .carousel-caption {
  left: 0;
  top: 0;
  z-index: 11;
  text-align: left;
}

.carousel-caption > div {
  background-color:rgba(0,100,0,0.4);
  padding: 60px 50px 80px 20%;
  position: absolute;
  top: 25%;
  width: 76%;
}

#home-carousel .carousel-inner h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 20px;
  text-shadow: none;
  text-transform: uppercase;
}

#home-carousel .carousel-inner p {
  color: #FFFFFF;
  line-height: 28px;
  font-size: 16px;
  margin-top: 0;
  text-shadow:none;
}

#nav-arrows > a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  height: 60px;
  line-height: 76px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 60px;
  z-index: 20;
  margin-top: -30px;

    -webkit-transition: all 0.3s ease 0s;
       -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
         -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}

#nav-arrows > a.sl-prev {
    left: 50px;
}

#nav-arrows > a.sl-next {
    right: 50px;
}

#nav-arrows > a.sl-next:hover {
    background-color: #009EE3;
    border-color: #009EE3;
    color: #fff;
}

.carousel-indicators .active {
  background-color: #006400!important;;
  border: 0;
}
#reviews .carousel-indicators li{
  border: solid 1px #006400;
}

/*.........BODY..................*/
#boddy{
  width: 100%;
  margin: 0px;
  overflow: hidden;
}
.g-pad-bottom{
  padding: 0px;
}
.head-main{
  text-align: left;
  font-size: 35px;
  color: #006400;
}
h3.deptt{
  color: #006400;
  font-size: 30px;
  text-transform: uppercase;
}
#boddy1{
 width: 100%;
}
#body1{
padding: 2px;
}
.lead{
 font-size: 15px !important;
  padding: 2px ;
}
img.one{
  padding: 2px 17%;
}
.social-media-lead{
  margin-left: -30px;
}
.social-media-lead li{
  margin: 0px;
  display: inline;
  padding: 3%;
}
@media (min-width: 400px) and (max-width: 570px) {
  .social-media-lead img{
    width: 20px;
  }
}
@media (min-width: 200px) and (max-width: 400px) {
  .social-media-lead img{
    width: 15px;
  }
  .social-media-lead li{
    padding: 0px;
  }
}
#reg{
  width: 100%;
  margin: 0px 0px;
  clear: both;
}
#welfare,#deacon,#treasure{
  padding: 30px;
}
img.two{
  margin: 0px 0%;
  width:270px;
  padding: 10px;
}
.wel{
  text-transform: capitalize;
  color: #006400;
  font-size: 27px;
}
/******************************
***DEVELOPMENT::**************/
#develop,#developp{
  width: 100%;
  margin: 0px;
}
img.four{
  width: 250px;
}
#develop1{
  padding: 10px;
}
#develop11{
  padding: 10px;
}
#develop11 p{
  margin-top: 3px;
}
#dever{
  color: #006400;
}
.glyphicon-heart{
  float: left;
 padding: 10px;
  color: #006400;
  font-size: 20px;
}
.deve1{
  color: #006400;
}
#spacer{
  padding: 10px;
  clear: both;
  width: 100%;
}
#spacer1{
  padding: 5%;
  background-color: rgba(0,100,0,0.6);
}
#verse{
  color: #fff;
  font-size: 22px;
}
.verse{
  color: #006400;
  font-weight: 600;
  font-size: 18px;
}
/*******************************
*********NEWS AREA***************
*********************************/
#news{
  padding: 20px;
  width: 100%;
  margin: 0px;
}
#news1{ 
  box-shadow: 0 0 4px #006400;
}
.user-img .img-circle{
  width: 170px;
  padding: 20px;
}
#main-content{
  width: 100%;
  margin: 0px;
}
#recent{
  padding: 10px;
}
#recent1{
  padding: 10px;
}
img.six{
  padding: 10px;
}
#main-content a{
  color: black!important;
  text-decoration: none;
}
.news-title,.event-title ,.seremon-title{
  text-transform: capitalize;
}
.date{
  padding: 10px;
}
#upcoming{
  width: 100%;
  padding: 10px;
}
.event-list{
  list-style: none;
  padding: 0px;
}
.event-list li ul li{
  padding:0px 10px;
  display: inline-table;
 
}
.seremon-list li{
  text-decoration: none;
  list-style: none;
  
}
img.five{
  width: 120px;
  float: left;
  padding: 10px;
}






/*********************************
MUSIC DEPARTMENTS****************
********************************/
#music,#musicc{
  margin: 0px;
  width: 100%;
}
#glory,#lords,#zayuni{
  padding:10px 4%;
  
}
.jcarousel-wrapper{
  margin-bottom: 40px!important;
}
#slide{
  width: 100%;
  margin: 0px;
}
#carousel-example{
  border: solid 5px #006400;
}
#carousel-example .carousel-inner{
 padding: 0px;
}

/* ===========================
--- Contact
============================ */

form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
.heading-contact .section-heading{
  padding: 12px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	border-radius: 0;
	border: 1px solid #0f0ff0f;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 100, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 100, 0, .05);
  
  
  border: solid 1px #006400;
}
select#subject option {
  background-color:#fff;
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}

.widget-contact {
	text-align: left;
}


.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}

.company-social {
	text-align: left;
}

.company-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.company-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.company-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.company-social .social-facebook a{background: #3873ae;}
.company-social .social-twitter a{background: #62c6f8;}
.company-social .social-dribble a{background: #d74980;}
.company-social .social-deviantart a{background: #8da356;}
.company-social .social-google a{background: #000;}
.company-social .social-vimeo a{background: #51a6d3;}
.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-twitter a:hover{background: #82e6ff;}
.company-social .social-dribble a:hover{background: #f769a0;}
.company-social .social-deviantart a:hover{background: #adc376;}
.company-social .social-google a:hover{background: #333;}
.company-social .social-vimeo a:hover{background: #71c6f3;}


/*============================================================
    Footer
============================================================*/

#footer {
    background-color: #006400;
    padding: 20px 0 10px;
}
img.logoh{
  width: 120px;
}
.manu{
  color: #fff;
  font-family: android;
  font-size: 25px;
}
.footer-logo {
    margin-bottom: 20px;
}

.footer-social {
    margin-bottom: 10px;
}

.footer-social h3 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.footer-social h3:after {
  border-bottom: 1px solid #fff;
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  margin-left: -115px;
  position: absolute;
  width: 230px;
}

.footer-social ul li a {
  color: #fff;
  display: block;
  margin: 0 8px;
}

.footer-social ul li a:hover {
  color: #00C7FC;
}

.copyright {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.copyright a {
    color: #00C7FC;
  text-decoration: none!important;
}

.copyright a:hover {
    color: #fff;
}

.copyright p {

}

.copyright p:first-child {
    margin-bottom: 15px;
}




/*........hover master..........................*/

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
